In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
rating_df = pd.read_csv('/content/drive/MyDrive/수업자료/00_dataset/movielens/ml-100k/u.data', sep='\t', header=None, names = ['userID', 'movieID', 'rating', 'timestamp'])
rating_df

       userID  movieID  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [4]:
movie_info_df = pd.read_csv('/content/drive/MyDrive/수업자료/00_dataset/movielens/ml-100k/u.item', sep='|', encoding='latin')
movie_info_df.columns = ['movieID' , 'movie_title' , 'release_date' , 'video_release_date' ,
              'IMDb_URL' , 'unknown' , 'Action' , 'Adventure' , 'Animation' ,
              'Children' , 'Comedy' , 'Crime' , 'Documentary' , 'Drama' , 'Fantasy' ,
              'Film-Noir' , 'Horror' , 'Musical' , 'Mystery' , 'Romance' , 'Sci-Fi' ,
              'Thriller' , 'War' , 'Western']
movie_info_df

,movieID,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
movie_rating_df = pd.merge(rating_df, movie_info_df[['movieID', 'movie_title']], on = 'movieID')
movie_rating_df['rating']= movie_rating_df['rating'].astype(float)
movie_rating_df

,userID,movieID,rating,timestamp,movie_title
0,196,242,3.0,881250949,Kolya (1996)
1,63,242,3.0,875747190,Kolya (1996)
2,226,242,5.0,883888671,Kolya (1996)
3,154,242,3.0,879138235,Kolya (1996)
4,306,242,5.0,876503793,Kolya (1996)
...,...,...,...,...,...
99543,840,1674,4.0,891211682,Mamma Roma (1962)
99544,655,1640,3.0,888474646,"Eighth Day, The (1996)"
99545,655,1637,3.0,888984255,Girls Town (1996)
99546,655,1630,3.0,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
99547,655,1641,3.0,887427810,Dadetown (1995)

In [6]:
user_ids = movie_rating_df["userID"].unique().tolist()

user2idx_dict = {x: i for i, x in enumerate(user_ids)}
idx2user_dict = {i: x for i, x in enumerate(user_ids)}

movie_ids = movie_rating_df["movieID"].unique().tolist()

movie2idx_dict = {x: i for i, x in enumerate(movie_ids)}
idx2movie_dict = {i: x for i, x in enumerate(movie_ids)}

movie_rating_df["user_idx"] = movie_rating_df["userID"].map(user2idx_dict)
movie_rating_df["movie_idx"] = movie_rating_df["movieID"].map(movie2idx_dict)

num_users = movie_rating_df["userID"].nunique()
num_movies = movie_rating_df["movieID"].nunique()
print(num_users, num_movies)

movie_rating_df = movie_rating_df.sort_values(['user_idx', 'movie_idx'])
movie_rating_df = movie_rating_df.reset_index(drop=True)
movie_rating_df

943 1681

,userID,movieID,rating,timestamp,movie_title,user_idx,movie_idx
0,196,242,3.0,881250949,Kolya (1996),0,0
1,196,257,2.0,881251577,Men in Black (1997),0,10
2,196,111,4.0,881251793,"Truth About Cats & Dogs, The (1996)",0,82
3,196,25,4.0,881251955,"Birdcage, The (1996)",0,85
4,196,382,4.0,881251843,"Adventures of Priscilla, Queen of the Desert, ...",0,91
...,...,...,...,...,...,...,...
99543,873,313,5.0,891392177,Titanic (1997),942,718
99544,873,326,4.0,891392656,G.I. Jane (1997),942,859
99545,873,348,3.0,891392577,Desperate Measures (1998),942,958
99546,873,358,2.0,891392698,Spawn (1997),942,1022
99547,873,342,4.0,891392698,"Man Who Knew Too Little, The (1997)",942,1115

In [7]:
from scipy.sparse import coo_matrix, linalg

rating_sparse_arr = coo_matrix((movie_rating_df['rating'], (movie_rating_df['user_idx'], movie_rating_df['movie_idx'])), shape = (num_users, num_movies))
rating_sparse_arr

<943x1681 sparse matrix of type '<class 'numpy.float64'>'
	with 99548 stored elements in COOrdinate format>

### SVD를 사용해 평점 예측
- SVD는 linalg
- SVDs는 SVD의 sparse matrix version

In [8]:
# SVD는 분해된 3 행렬이 return 됩니다.
U, S, V = linalg.svds(rating_sparse_arr, k=250)

In [9]:
print(U.shape, S.shape, V.shape)

(943, 250) (250,) (250, 1681)

In [10]:
test_user_id = 30
test_user_idx = movie_rating_df[movie_rating_df['userID'] == test_user_id].user_idx.iloc[0] 
test_user_idx

27

In [11]:
# 세 행렬을 다시 곱하면 원래의 행렬로 복원됩니다. --> 이 과정에서 숨겨진 평점이 예측됨
# 모든 행렬을 복원할 필요 없기 때문에 target user data만 입력
# S는 대각성분만 있기 때문에 대각행렬로 돌려줍니다.

pred = U[test_user_idx] @ np.diag(S) @ V
pred.shape

(1681,)

Quiz) U가 아니라 V를 일부 혹은 하나만 쓴다면 어떤 의미인가요?

In [12]:
pred

array([ 4.23435978, -0.12659767,  0.17012735, ..., -0.0256912 ,
       -0.0256912 , -0.0256912 ])

In [13]:
test_df = movie_rating_df[movie_rating_df['user_idx'] == test_user_idx]
test_df

,userID,movieID,rating,timestamp,movie_title,user_idx,movie_idx
3168,30,242,5.0,885941156,Kolya (1996),27,0
3169,30,257,4.0,885941257,Men in Black (1997),27,10
3170,30,29,3.0,875106638,Batman Forever (1995),27,14
3171,30,304,4.0,875988548,Fly Away Home (1996),27,39
3172,30,181,4.0,875060217,Return of the Jedi (1983),27,51
3173,30,403,2.0,875061066,Batman (1989),27,81
3174,30,294,4.0,875140648,Liar Liar (1997),27,94
3175,30,174,5.0,885941156,Raiders of the Lost Ark (1981),27,100
3176,30,135,5.0,885941156,2001: A Space Odyssey (1968),27,117
3177,30,231,2.0,875061066,Batman Returns (1992),27,145
3178,30,2,3.0,875061066,GoldenEye (1995),27,146
3179,30,164,4.0,875060217,"Abyss, The (1989)",27,149
3180,30,258,5.0,885941156,Contact (1997),27,156
3181,30,172,4.0,875060742,"Empire Strikes Back, The (1980)",27,160
3182,30,255,4.0,875059984,My Best Friend's Wedding (1997),27,176
3183,30,688,3.0,885941492,Leave It to Beaver (1997),27,186
3184,30,69,5.0,885941156,Forrest Gump (1994),27,190
3185,30,7,4.0,875140648,Twelve Monkeys (1995),27,208
3186,30,82,4.0,875060217,Jurassic Park (1993),27,230
3187,30,321,4.0,875988547,Mother (1996),27,250
3188,30,751,3.0,884310551,Tomorrow Never Dies (1997),27,260
3189,30,678,2.0,885942002,Volcano (1997),27,273
3190,30,286,5.0,885941156,"English Patient, The (1996)",27,288
3191,30,315,4.0,885941412,Apt Pupil (1998),27,324
3192,30,531,5.0,885941156,Shine (1996),27,332
3193,30,892,4.0,884310496,Flubber (1997),27,334
3194,30,259,4.0,875058280,George of the Jungle (1997),27,338
3195,30,252,3.0,875140740,"Lost World: Jurassic Park, The (1997)",27,349
3196,30,50,3.0,875061066,Star Wars (1977),27,356
3197,30,289,2.0,876847817,Evita (1996),27,359
3198,30,873,1.0,875061066,Picture Perfect (1997),27,375
3199,30,301,4.0,875988577,In & Out (1997),27,403
3200,30,161,4.0,875060883,Top Gun (1986),27,455
3201,30,780,4.0,875060217,Dumb & Dumber (1994),27,467
3202,30,28,4.0,885941321,Apollo 13 (1995),27,470
3203,30,319,4.0,875060217,Everyone Says I Love You (1996),27,567
3204,30,683,3.0,885941798,Rocket Man (1997),27,577
3205,30,435,5.0,885941156,Butch Cassidy and the Sundance Kid (1969),27,621
3206,30,1007,5.0,885941156,Waiting for Guffman (1996),27,671
3207,30,539,3.0,885941454,Mouse Hunt (1997),27,714
3208,30,313,5.0,885941156,Titanic (1997),27,718
3209,30,1013,3.0,875060334,Anaconda (1997),27,1012
3210,30,538,4.0,885941798,Anastasia (1997),27,1166

In [15]:
for i, sr in enumerate(test_df.itertuples()):
    if i > 20:
        break
    print(f'{sr.rating} -> {pred[sr.movie_idx]:.1f}')

5.0 -> 4.2
4.0 -> 3.1
3.0 -> 1.2
4.0 -> 4.0
4.0 -> 3.9
2.0 -> 1.6
4.0 -> 4.1
5.0 -> 3.8
5.0 -> 3.7
2.0 -> 1.1
3.0 -> 1.7
4.0 -> 2.5
5.0 -> 4.9
4.0 -> 3.7
4.0 -> 3.4
3.0 -> 1.0
5.0 -> 4.3
4.0 -> 3.1
4.0 -> 2.7
4.0 -> 3.3
3.0 -> 2.5

In [16]:
from sklearn.metrics import mean_squared_error
import math
 
indices = test_df['movie_idx'].to_numpy()
MSE = mean_squared_error(pred[indices], test_df['rating'].to_list())
 
RMSE = math.sqrt(MSE)
RMSE

1.2662708533183091

1. [Ex] target user가 가장 좋아할 영화 10개 출력해보기

1. [Ex] svd의 잠재공간의 크기 바꿔보기

1. [Ex] 1000명의 user에 대해 평균 rmse 성능 계산해보기

1. [Ex] 더 큰 데이터 셋에 대해서 돌려보고 시간 변화 측정해보기

새로운 df
- 영화 ID
- 영화 이름
- 영화 index
- 유저가 평가한 영화의 평점
- SVD가 복원한 영화의 평점

In [19]:
movie_pred_df = movie_info_df[['movieID', 'movie_title']]
movie_pred_df['movie_idx'] = movie_pred_df['movieID'].map(movie2idx_dict)
movie_pred_df = movie_pred_df.sort_values('movie_idx')
movie_pred_df

<ipython-input-19-d33f0a6bcb28>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_pred_df['movie_idx'] = movie_pred_df['movieID'].map(movie2idx_dict)

      movieID                                        movie_title  movie_idx
240       242                                       Kolya (1996)          0
300       302                           L.A. Confidential (1997)          1
375       377                                Heavyweights (1994)          2
49         51                         Legends of the Fall (1994)          3
344       346                                Jackie Brown (1997)          4
...       ...                                                ...        ...
1672     1674                                  Mamma Roma (1962)       1676
1638     1640                             Eighth Day, The (1996)       1677
1635     1637                                  Girls Town (1996)       1678
1628     1630  Silence of the Palace, The (Saimt el Qusur) (1...       1679
1639     1641                                    Dadetown (1995)       1680

[1681 rows x 3 columns]

In [20]:
test_user_id = 40
test_user_df = movie_rating_df[movie_rating_df['userID']==test_user_id]

In [ ]:
movie_merged_df = pd.merge(movie_pred_df, test_user_df[['movieID', 'rating']],
                           on = 'movieID',
                           how = 'left')
movie_merged_df = movie_merged_df.fillna(0)
movie_merged_df['recovered_score'] = pred_target_user